#overlayLoading {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    justify-content: center;
    align-items: center;
}

#overlayLoadingContent {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-loading {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-loading-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.dt-buttons .btn-primary {
    color: #fff !important;
    background-color: #1977a5 !important;
    border-color: #1977a5 !important;
    box-shadow: none !important;
}

.dt-buttons .btn-danger {
    /* color: #fff !important;
    background-color: #1977a5 !important;
    border-color: #1977a5 !important;
    box-shadow: none !important; */
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #1977a5;
}
.nav-pills .nav-link:not(.active):hover {
    color: #1977a5;
}
