@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* 
.content h1 {
    font-weight: 500;
    text-align: center;
}

svg#donut-chart {
    display: block;
    margin: 0 auto;
}

text.inner-circle {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.arc {
    cursor: pointer;
}
.arc:hover {
    opacity: 0.85;
}
.arc text {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.table-striped thead {
    background-color: #1977a5 !important;
    color: white;
}
